@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,700);
@font-face {
  font-family: "Blockers Edge";
  src: url(../font/Blockers\ Edge.4b1e4bc53da3e3d72d0d.ttf);
}
body {
  font-family: "PT Sans Narrow", sans-serif;
}
.blockers_edge {
  font-family: "Blockers Edge", sans-serif;
}
/*============header========= */

.nav-bar-box {
  padding: 11px 61px;
  background-color: #f78b0b;
  border-top-right-radius: 28px;
  box-shadow: 4px -4px 5.6px 0px #00000033;
}

.box-2 {
  background-color: #0ba9d3;
}

.box-3 {
  background-color: #1ad80b;
}

.box-4 {
  background-color: #e0adf7;
}

.box-5 {
  background-color: #ff7bac;
}

.box-6 {
  background-color: #ed1c24;
}

.translateX-15 {
  transform: translate(-15px);
}

.translateX-30 {
  transform: translateX(-30px);
}

.translateX-45 {
  transform: translateX(-45px);
}

.translateX-60 {
  transform: translateX(-60px);
}

.translateX-75 {
  transform: translateX(-75px);
}
/*=======page_1========*/
.page_1_bg_img {
  background-image: url(../images/png/page-1-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.max_width_554 {
  max-width: 554px;
}

.line {
  max-width: 471px;
  height: 34px;
  background: #29abe2;
  border-radius: 10px;
}

.line_1 {
  max-width: 229px;
  height: 34px;
  background: #0071bc;
  border-radius: 10px;
}
.max_w_166 {
  max-width: 166px;
}
.min_w_166 {
  min-width: 166px;
}
.max_width_220 {
  max-width: 220px;
}
.max_w_200 {
  max-width: 200px;
}
.button-one {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important;

  padding-top: 24px !important;
  padding-left: 21px !important;
  padding-bottom: 24px !important;
  padding-right: 21px !important;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px !important;
}
.user {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
}

.card_paragraph {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important ;
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 220px;
  margin-top: 9px;
  min-height: 131px !important;
}

.card_paragraph_4 {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important ;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 220px;
  margin-top: 9px;
  min-height: 131px !important;
}

/* ======page-2======= */
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0ba9d3;
}

@font-face {
  font-family: "Blockers Edge";
  src: url(../Fonts/Blockers\ Edge.4b1e4bc53da3e3d72d0d\ copy.ttf);
}

.bear-img {
  margin-top: 49px;
}

.ml-65 {
  margin-left: 65px;
}

.vote-image {
  width: 51px;
  height: 55px;
  margin-top: 37px;
  margin-right: 26px;
}

.card-para {
  max-width: 561px !important;
}

.card-box {
  max-width: 597px !important;
  min-height: 155.54px;
  margin: auto;
  background: linear-gradient(180deg, #fafafa -1.72%, #d9d9d9 99.33%);
  padding: 17px;
  border-radius: 15px;
  margin-bottom: 35px;
}

#mylayer {
  background-image: url(../images/png/bg-img.png);
  background-position: top left;
  animation: mymove 15s infinite;
}

@keyframes mymove {
  50% {
    background-position: center;
  }
}
/* ===responsive==== */
@media (max-width: 992px) {
  .bear {
    max-width: 50px;
  }
}

@media (max-width: 576px) {
  .flex-direction {
    flex-direction: column;
    display: flex;
  }

  .main-heading {
    font-size: 28px;
    padding-top: 25px;
  }

  .vote-image {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bear-img {
    margin-top: 30px;
  }

  .bear {
    margin: auto;
  }

  .footer-text {
    padding-top: 24px;
    text-align: center;
  }

  .card-box {
    margin-bottom: 25px;
  }
}
