@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,700);
@font-face {
  font-family: "Blockers Edge";
  src: url(../font/Blockers\ Edge.4b1e4bc53da3e3d72d0d.ttf);
}
body {
  font-family: "PT Sans Narrow", sans-serif;
}
.blockers_edge {
  font-family: "Blockers Edge", sans-serif;
}
/*============header========= */

.nav-bar-box {
  padding: 11px 61px;
  background-color: #f78b0b;
  border-top-right-radius: 28px;
  box-shadow: 4px -4px 5.6px 0px #00000033;
}

.box-2 {
  background-color: #0ba9d3;
}

.box-3 {
  background-color: #1ad80b;
}

.box-4 {
  background-color: #e0adf7;
}

.box-5 {
  background-color: #ff7bac;
}

.box-6 {
  background-color: #ed1c24;
}

.translateX-15 {
  transform: translate(-15px);
}

.translateX-30 {
  transform: translateX(-30px);
}

.translateX-45 {
  transform: translateX(-45px);
}

.translateX-60 {
  transform: translateX(-60px);
}

.translateX-75 {
  transform: translateX(-75px);
}
/*=======page_1========*/
.page_1_bg_img {
  background-image: url(../images/png/page-1-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.max_width_554 {
  max-width: 554px;
}

.line {
  max-width: 471px;
  height: 34px;
  background: #29abe2;
  border-radius: 10px;
}

.line_1 {
  max-width: 229px;
  height: 34px;
  background: #0071bc;
  border-radius: 10px;
}
.max_w_166 {
  max-width: 166px;
}
.min_w_166 {
  min-width: 166px;
}
.max_width_220 {
  max-width: 220px;
}
.max_w_200 {
  max-width: 200px;
}
.button-one {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important;

  padding-top: 24px !important;
  padding-left: 21px !important;
  padding-bottom: 24px !important;
  padding-right: 21px !important;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px !important;
}
.user {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
}

.card_paragraph {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important ;
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 220px;
  margin-top: 9px;
  min-height: 131px !important;
}

.card_paragraph_4 {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important ;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 220px;
  margin-top: 9px;
  min-height: 131px !important;
}

/* ======page-2======= */
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0ba9d3;
}

@font-face {
  font-family: "Blockers Edge";
  src: url(../Fonts/Blockers\ Edge.4b1e4bc53da3e3d72d0d\ copy.ttf);
}

.bear-img {
  margin-top: 49px;
}

.ml-65 {
  margin-left: 65px;
}

.vote-image {
  width: 51px;
  height: 55px;
  margin-top: 37px;
  margin-right: 26px;
}

.card-para {
  max-width: 561px !important;
}

.card-box {
  max-width: 597px !important;
  min-height: 155.54px;
  margin: auto;
  background: linear-gradient(180deg, #fafafa -1.72%, #d9d9d9 99.33%);
  padding: 17px;
  border-radius: 15px;
  margin-bottom: 35px;
}

#mylayer {
  background-image: url(../images/png/bg-img.png);
  background-position: top left;
  animation: mymove 15s infinite;
}

@keyframes mymove {
  50% {
    background-position: center;
  }
}

/* ====page 3=========== */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "Blockers Edge";
  src: url(../font/Blockers\ Edge.4b1e4bc53da3e3d72d0d.ttf);
}

.bg-image {
  background-color: var(--light-green);
  min-height: 100vh;
}

.logo-bear {
  width: 75.42px;
  height: 64.87px;
}

.logo-name {
  font-family: "Blockers Edge";
  font-size: var(--fs-5xl) !important;
  font-weight: 250;
  line-height: 1;
  text-align: left;
  color: var(--white);
  margin-bottom: 0;
}

.logo-finance {
  font-family: "Blockers Edge";
  font-size: var(--fs-xxs) !important;
  font-weight: 250;
  line-height: 1;
  text-align: left;
  color: var(--white);
}

.main-heading {
  font-family: "Blockers Edge";
  font-size: var(--fs-6xl) !important;
  font-weight: 250;
  line-height: 1;
  text-align: center;
  color: var(--black);
  margin-top: 45px;
}

.vote-image {
  max-width: 51px;
  height: 55px;
  margin-top: 37px;
  margin-right: 26px;
}

.mt-49 {
  margin-top: 49px;
}

.ml-61 {
  margin-left: 61px;
}

.section-heading {
  font-family: "Blockers Edge";
  font-size: var(--fs-xl) !important;
  font-weight: 250;
  line-height: 1;
  text-align: center;
  color: var(--white);
}

.section-pera {
  font-family: "Blockers Edge";
  font-size: var(--fs-2md) !important;
  font-weight: 250;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  max-width: 775.78px;
  margin: auto;
  padding-top: 24px;
}

.Card {
  max-width: 476.59px;
  padding-top: 22px;
  padding-bottom: 22px;
  background: linear-gradient(180deg, #fafafa -1.71%, #d9d9d9 99.33%);
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.Card-heading {
  font-family: "Blockers Edge";
  font-size: var(--fs-2md) !important;
  font-weight: 250;
  line-height: 1;
  text-align: center;
  color: var(--white);
}

.Card-text {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: var(--fs-sm) !important;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: var(--black);
}

.px-23 {
  padding-left: 23px;
  padding-right: 23px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.pt-63 {
  padding-top: 63px;
}

.mw-969 {
  max-width: 969px;
  margin: auto !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.circle {
  width: 36.95px;
  height: 36.95px;
  border-radius: 100px;
}

.bg-1 {
  background: var(--pink);
}

.circle-text {
  font-family: "Blockers Edge";
  font-size: var(--fs-md) !important;
  font-weight: 250;
  line-height: 18px;
  text-align: left;
  color: var(--black);
  padding-top: 9px;
  padding-bottom: 9px;
}

.gap-13 {
  gap: 13px;
}

.mb-10 {
  margin-bottom: 10px;
}

.bg-2 {
  background: var(--purple);
}

.bg-3 {
  background: var(--light-blue);
}

.bg-4 {
  background: var(--light-green);
}

.bg-5 {
  background: var(--orange);
}

.bg-6 {
  background: var(--light-green);
}

.bg-7 {
  background: var(--light-purple);
}

.bg-8 {
  background: var(--grey);
}

.pt-55 {
  padding-top: 55px;
}

.right-line-1 {
  position: absolute;
  top: 25%;
  right: 7%;
  transform: translate(-50%, -50%);
}

.right-line-2 {
  position: absolute;
  top: 65%;
  right: 7%;
  transform: translate(-50%, -50%);
}

.line-text-1 {
  font-family: "Blockers Edge";
  font-size: var(--fs-xl) !important;
  font-weight: 250;
  line-height: 1;
  text-align: left;
  color: var(--white);
  position: absolute;
  top: 33%;
  right: 0%;
  transform: translate(-50%, -50%);
  rotate: 90deg;
}

.line-text-2 {
  font-family: "Blockers Edge";
  font-size: var(--fs-xl) !important;
  font-weight: 250;
  line-height: 1;
  text-align: left;
  color: var(--white);
  position: absolute;
  top: 78%;
  right: 0%;
  transform: translate(-50%, -50%);
  rotate: 90deg;
}

.detail {
  font-family: "Blockers Edge";
  font-size: var(--fs-md) !important;
  font-weight: 250;
  line-height: 18px;
  text-align: left;
  color: var(--white);
  padding-top: 40px;
}

.footer-text {
  font-family: "Blockers Edge";
  font-size: var(--fs-2md) !important;
  font-weight: 250;
  line-height: 1;
  text-align: left;
  color: var(--white);
  margin-left: 20px;
  margin-top: 70px;
}

.color-graph {
  max-width: 470.98px;
  width: 100%;
}

#my-layer {
  background-image: url(../images/png/hero-bg.png);
  background-position: top left;
  animation: my-move 12s infinite;
}

@keyframes my-move {
  50% {
    background-position: center;
  }
}

/* =========================responsive======================= */
@media (max-width: 992px) {
  .bear {
    max-width: 50px;
  }
}

@media (max-width: 768px) {
  .logo-name {
    font-size: var(--fs-2md);
  }

  .main-heading {
    font-size: var(--fs-2xl);
  }

  .section-heading {
    font-size: var(--fs-md);
  }

  .section-pera {
    font-size: var(--fs-xs);
  }

  .Card-heading {
    font-size: var(--fs-sm);
  }

  .Card-text {
    font-size: var(--fs-xxs);
  }

  .circle-text {
    font-size: var(--fs-xxs);
  }

  .line-text-1 {
    font-size: var(--fs-sm);
  }

  .line-text-2 {
    font-size: var(--fs-2md);
  }

  .detail {
    font-size: var(--fs-xs);
  }

  .footer-text {
    font-size: var(--fs-sm);
  }

  .md-flex-column {
    flex-direction: column;
    display: flex !important;
    justify-content: center !important;
  }

  .md-mx-auto {
    margin: auto;
  }

  .md-mt-20 {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .flex-direction {
    flex-direction: column;
    display: flex;
  }

  .main-heading {
    font-size: 28px;
    padding-top: 25px;
  }

  .vote-image {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .bear-img {
    margin-top: 30px;
  }

  .bear {
    margin: auto;
  }

  .footer-text {
    padding-top: 24px;
    text-align: center;
  }

  .card-box {
    margin-bottom: 25px;
  }
}
