@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,700);
@font-face {
  font-family: "Blockers Edge";
  src: url(../font/Blockers\ Edge.4b1e4bc53da3e3d72d0d.ttf);
}
body {
  font-family: "PT Sans Narrow", sans-serif;
}
.blockers_edge {
  font-family: "Blockers Edge", sans-serif;
}
/*=======page_1========*/
.page_1_bg_img {
  background-image: url(../images/png/page-1-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.max_width_554 {
  max-width: 554px;
}

.line {
  max-width: 471px;
  height: 34px;
  background: #29abe2;
  border-radius: 10px;
}

.line_1 {
  max-width: 229px;
  height: 34px;
  background: #0071bc;
  border-radius: 10px;
}
.max_w_166 {
  max-width: 166px;
}
.min_w_166 {
  min-width: 166px;
}
.max_width_220 {
  max-width: 220px;
}
.max_w_200 {
  max-width: 200px;
}
.button-one {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important;

  padding-top: 24px !important;
  padding-left: 21px !important;
  padding-bottom: 24px !important;
  padding-right: 21px !important;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px !important;
}
.user {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
}

.card_paragraph {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important ;
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 220px;
  margin-top: 9px;
  min-height: 131px !important;
}

.card_paragraph_4 {
  background: linear-gradient(180deg, #fafafa 0%, #d9d9d9 100%) !important ;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 220px;
  margin-top: 9px;
  min-height: 131px !important;
}
